<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
    </header>
    

<label>
  Start date:
  {{pikaday-input value=startsAt}}
</label>

    {{outlet}}
</section>




<footer id="info">
    <p>Double-click to edit a todo</p>
</footer>